<section class="row flex-column profile-stats-container">
  <div class="d-flex justify-content-center align-items-center border profile-stats-pic-items">
    <div class="follow-button-pic-container"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button-pic "></i>
    </div>
    <figure class="profile-stats-pic-container mx-3">
      <img class="rounded-circle profile-stats-pic" src="https://avatars.githubusercontent.com/u/57421823?v=4" alt="">
    </figure>
    <div class="follow-button-pic-container"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button-pic "></i>
    </div>
  </div>
  <div class="d-flex">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>
</section>
